<html>

<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>PIN POINT ENGINEERS</title>
	<link rel="stylesheet" type="text/css" href="static/css/bootstrap.min.css">
	<link rel="stylesheet" type="text/css" href="static/css/styles.css">
	<script src="static/js/jquery-3.4.1.min.js"></script>	
	<script defer src="static/js/script1.js"></script>
	<script type=module defer src="static/js/mainLayout.js"></script>
	<script src="static/js/nav_handler.js"></script>
	<link rel="shortcut icon" href="{{ url_for('static', filename='images/favicon.ico') }}">
</head>

<body>

<script>




</script>



<my-header></my-header>


<!-- FRAME SECTION START -->
	<div id="frame_container">
		<h5 id = "container_header">Privilege Access Action</h5>
		<div id="data_frame">
			<div class="frame">
				<div class="sections">
					<hr size="10">
				</div>
			</div>
		</div>
		<hr size="10">
		<div id="action_row">
			<button id="submit_button" type="submit" class="btn btn-sm btn-success col-sm-2" onclick="exportdb()">EXPORT DB</button>
		</div>
	</div>

<my-footer></my-footer>
<script>
$( document ).ready(function() {
		var role = "{{ role }}";
		handle_nav_bar(role);
	});
</script>
</body>

</html>