<html>

<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>PIN POINT ENGINEERS</title>
	<link rel="stylesheet" type="text/css" href="static/css/bootstrap.min.css">
	<link rel="stylesheet" type="text/css" href="static/css/styles.css">
	<script src="static/js/jquery-3.4.1.min.js"></script>	
	<script defer src="static/js/script1.js"></script>
	<script type=module defer src="static/js/mainLayout.js"></script>
	<script src="static/js/nav_handler.js"></script>
	<link rel="shortcut icon" href="{{ url_for('static', filename='images/favicon.ico') }}">
</head>

<body>

<script>




</script>



<my-header></my-header>


<!-- FRAME SECTION START -->
	<div id="frame_container" >
		<h5 id = "container_header">Equipment Details Table</h5>
		<div id="data_frame">
			<div class="frame">
				<div class="sections">
					<br><br>
					<table class="code_tbl table-striped table-bordered" >
					<input type="text" class="textfield"  id="myInput0" onkeyup="filterInstrument(0,'myInput0')" placeholder="Search here Type..">
					<input type="text" class="textfield"  id="myInput1" onkeyup="filterInstrument(1,'myInput1')" placeholder="Search here EQUIPMENT NAME..">
					<input type="text" class="textfield"  id="myInput2" onkeyup="filterInstrument(2,'myInput2')" placeholder="Search here MAKE..">
					<input type="text" class="textfield"  id="myInput3" onkeyup="filterInstrument(3,'myInput3')" placeholder="Search here MODEL NUMBER..">
					<input type="text" class="textfield"  id="myInput4" onkeyup="filterInstrument(4,'myInput4')" placeholder="Search here SR NO ID..">
					<input type="text" class="textfield"  id="myInput7" onkeyup="filterInstrument(7,'myInput7')" placeholder="Search here STATUS..">
					<input type="text" class="textfield"  id="myInput8" onkeyup="filterInstrument(8,'myInput8')" placeholder="Search here ISSUED TO..">
					<input type="text" class="textfield"  id="myInput9" onkeyup="filterInstrument(9,'myInput9')" placeholder="Search here COMPANY NAME..">
					
					</table>
					<table class="code_tbl table-striped table-bordered" id ="eqp_table">
						<tr>
							<th>Type</th>	
							<th>EQUIPMENT_NAME</th>
							<th>MAKE</th>	
							<th>MODEL NUMBER</th>	
							<th>SR_NO_ID</th>
							<th>DONE DATE</th>
							<th>DUE_DATE</th>	
							<th>STATUS</th>	
							<th>ISSUED TO </th>		
							<th>COMPANY NAME</th>	
							<th>REMARK</th>								
						</tr>
						{% for equipment in equipment_list %}
						<tr>
						
						
						<td>
							<select class="textfield" name="Type" value id="Type" style="width:100%">

							
							{%for equipment_category  in eqtype%}
							{%if equipment_category ==equipment.Type%}
							  <option value="{{equipment_category}}" selected>{{equipment_category}}</option>							  
							{%else%}
							  <option value="{{equipment_category}}">{{equipment_category}}</option>
							{%endif%}
							{% endfor %}
								
							</select>
						</td>
						
						<td>
							<select class="textfield" type="text"  class="textfield" name="EQUIPMENT_NAME" id="EQUIPMENT_NAME" style="width:100%">	
							{%for equipment_category  in Equipment_Namelst%}
							{%if equipment_category ==equipment.EQUIPMENT_NAME%}
							  <option value="{{equipment_category}}" selected>{{equipment_category}}</option>							  
							{%else%}
							  <option value="{{equipment_category}}">{{equipment_category}}</option>
							{%endif%}
							{% endfor %}
								
							</select>
						
						
						</td>
						
						
						<td>
							<input type="text" name="MAKE" value="{{equipment.MAKE}}" id="MAKE" style="width:100%">								
	
						</td>
							
													
							<td><input type="text" name="MODEL_NUMBER" class="textfield" value="{{equipment.MODEL_NUMBER}}" ></td>	
							<td><input type="text" name="SR_NO_ID" class="textfield" value="{{equipment.SR_NO_ID}}" ></td>
							<td><input type="text" name="DONE_DATE" class="textfield" value="{{equipment.DONE_DATE}}" ></td>
							<td><input type="text" name="DUE_DATE" class="textfield" value="{{equipment.DUE_DATE}}" ></td>
							<td>
								<select class="textfield" name="approve_deny" id="approve_deny" style="width:100%">	
							    {%for equipment_category in ['REQUESTED','APPROVED','AVAILABLE','CLOSED'] %}
								{%if equipment_category==equipment.STATUS%}
								  <option value="{{equipment_category}}" selected>{{equipment_category}}</option>							  
								{%else%}
								  <option value="{{equipment_category}}">{{equipment_category}}</option>
								{%endif%}
								{% endfor %}									
								</select>
							</td>
							<td><input type="text" name="ISSUED_TO" class="textfield" value="{{equipment.ISSUED_TO}}" disabled></td>
							<td><input type="text" name="COMPANY_NAME" class="textfield" value="{{equipment.COMPANY_NAME}}" disabled></td>
							<td><input type="text" name="REMARK" class="textfield" value="{{equipment.REMARK}}"disabled ></td>							
							<td class="del_row"><img src = "static/images/delete.png" class="del_row_img" onclick="delete_row(this)"></td>
						</tr>
						{% endfor %}
					</table>
					<div class="add_row_button">
					<button id="add_row1" type="button" class="btn btn-sm btn-primary  btn_row" onclick="add_row(this)">Add Row</button>
					</div>
					<hr size="10">
				</div>
			</div>
		</div>
		<hr size="10">
		<div id="action_row">
			<button id="instrumnetupdtbtn" name="instrumnetupdtbtn" type="submit" class="btn btn-sm btn-success " onclick="updateinstrumentDetails()">Submit</button>
		</div>
	</div>

<my-footer></my-footer>
<script>
$( document ).ready(function() {
		var role = "{{ role }}";
		handle_nav_bar(role);
	});
</script>
</body>

</html>